---
layout: default
title: Home
pagination:
  enabled: true
  per_page: 4
  collection: preposts, posts
  sort_reverse: true
comments: true
---

{% include intro.html %}

<section class="post-list">
  <div class="container container-n">

    <h2>Latest articles...
        <div class="chapter-links">
            <a href="{{ '/articles' | prepend: site.baseurl }}">all articles</a>
            <span class="post-meta-separator">•</span>
            <a href="{{ '/tags' | prepend: site.baseurl }}">by tag</a>
        </div>
    </h2>

    {% for post in paginator.posts %}
        {% include article-preview.html %}
    {% endfor %}
  </div>

  <div class="container">
    {% include pagination.html %}
  </div>

  <!-- Mastodon toots -->
  <link rel="stylesheet" href="/assets/mastodon-timeline-widget/mastodon.widget.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">

  <div id="myTimeline" class="container mastodon-timeline mastodon-timeline-light"></div>

  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/mastodon-timeline-widget/mastodon.widget.js"></script>
  <script>
  	$(document).ready(function() {
  		/* jQUERY is required! */
  		var mapi = new MastodonApi({
  			target_selector          : '#myTimeline'
  			,instance_uri            : '{{ site.author.mastodon.instance }}'
  			,access_token            : '84e7ac154c450bc9d0d68e52d94171556af38423e2eed4357dead21532fe30e1'
  			,account_id              : '566645'
  			/* === optional parameters === */
  			,toots_limit           : 5
  			/*  samples below require http://fontawesome.io */
  			/* ,pic_icon              : '<i class="fa fa-picture-o"></i>' */
  			,boosts_count_icon     : '<i class="fa fa-retweet"></i>'
  			,favourites_count_icon : '<i class="fa fa-star"></i>'
  		});
  	});
  </script>

</section>

{% include comments.html %}
