{% comment %}
    'post' must be defined before including this template
{% endcomment %}
<article class="post-item">
    <p>
        <time class="post-meta datePublished" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
        —
        <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong>
        {% include maturity.html post=post show="draft,deprecated,unpublished" %}
        <br />
        <span> {{ post.content | strip_html | truncatewords: 40 }}</span>
        <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    </p>
</article>
