{%- if page.comments != false -%}

  <style>
      /* quick fix for the default cactus theme ; to be enhanced */
      :root {
          --cactus-background-color--strong: white;
          --cactus-box-shadow-color: #999;
      }
  </style>
  <div id="comment-section"></div>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    /* Chat room name will be the concatenation of 'comments_', siteName, '_', commentSectionId.
      E.g. #comments_nicolabs.net_LineageOS4microg-Upgrade:cactus.chat */
    siteName: "{{ site.cactus.shortname }}",
    /* Don't use page.url as slashes are not supported : https://gitlab.com/cactus-comments/cactus-client/-/issues/62 */
    commentSectionId: "{{ page.slug }}"
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>

{%- endif -%}