{%- if page.comments != false -%}

  <style>
      /* quick fix for the default cactus theme ; to be enhanced */
      :root {
          --cactus-background-color--strong: white;
          --cactus-box-shadow-color: #999;
      }
  </style>
  <div id="comment-section"></div>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "{{ site.cactus.shortname }}",
    commentSectionId: "{{ page.url }}"
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>

{%- endif -%}