%highlighted {
  background-color: $secondary-color;
  color: $white-color;
  display: inline-block;
  padding: 0 .3em;
}


* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  background-color: $base-background-color;
  font-weight: 400;
}

hr {
  border-top: none;
  border-bottom: 2px solid lighten($light-gray-color, 7%);
  width: 100%;
  margin: $small-spacing 0;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  display: inline;
  padding-bottom: .08em;
  border-bottom: 2px solid $light-gray-color;

  @include transition(border 300ms linear);

  &:hover,
  &:focus,
  &:active {
    border-color: darken($light-gray-color, 10%);
  }
}

.site-header {
  /* @nicobo removed borders */
  margin-bottom: $small-spacing;
  min-height: 80px;

  /* start @nicobo : color-inverted header */
  background-color: $header-background-color;
  a {
      font-weight: bolder;
      color: white;
      border-color: white;

      /* preserves placement when drawing a box around when hovering */
      display: inline-block;
      padding: 0 .3em;
      &:hover,
      &:focus,
      &:active {
          background-color: white;
          color: $primary-color;
      }
  }
  /* end @nicobo */

  .nav {
    .container {
      padding-top: 1.5em;
    }
  }

}

.intro {
  .author-name {
    @extend %highlighted;
  }

  a {
    @extend .link;
  }
}

.lead {
  font-style: italic;
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-size: 1.2em;
  line-height: 28px;
  font-weight: 300;

  a {
    text-decoration: none;
    border: none;
  }

  span {
    font-weight: 700;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    /* BEWARE from 0 .6em this makes the menu items disappear from the viewport on mobile devices */
    padding: 0 .5em;
  }

  a {
    @extend .link;
  }
}

.post-list {
  /*background-color: lighten($light-gray-color, 17%);*/
  padding: 0;

  .mastodon {
    padding-top: 0;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.readmore {
  font-style: italic;
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.post {
  @extend .clearfix;
}

/* Post meta-data default style (e.g. index.html) */
.post-meta {
  color: $medium-gray-color;
  font-style: italic;
  text-decoration: none;
  border: none;
}
a {
  @extend .link;
}

.post-item {
  padding-bottom: $small-spacing;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid lighten($light-gray-color, 5%);

  .post-title {
    font-weight: 700;
    font-size: larger;
    /* removes any border decoration */
    border: none;
  }

  .post-item-header {
    margin-bottom: 1em;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

}

/* Post meta-data style in the post itself */
.post-header {

  margin-bottom: 2em;

  .post-meta, a {
    color: $secondary-color;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    border: none;
  }
}

/* Adds some space around the meta fields separator */
.post-meta-separator {
  padding: 0 .5em;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

.share {
  padding: $base-spacing 0 0;

  @extend .pull-right;

  h4 {
    display: inline-block;
  }
}

aside.tags {
  padding: $base-spacing 0 0;

  @extend .pull-left;

  /* tags & list of tags */
  ul, li, a {
    padding: 0;
    list-style: none;
    display: inline;
    color: $secondary-color;
  }

  /* a tag */
  li {
    padding: .1em;
  }
}

.tag-decoration {
  color: $secondary-color;
}

.tag {
  /* Tag links should not look like standard links, which are too much emphasized */
  a {
    text-decoration: none;
    border: none;
  }
}

h2.tag a {
  @extend h2;
}


.disqus {
  background-color: lighten($light-gray-color, 16%);
  padding: $base-spacing 0;

  hr {
    margin: $base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;

  padding: $base-spacing 0;

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: rem(12);
    color: darken($medium-gray-color, 10%);
  }

  /* start @nicobo : color-inverted footer */
  background-color: $header-background-color;
  .container * {
      color: white;
      border-color: white;
      font-weight: bolder;
  }
  /* end @nicobo */
}

/*
 Mastodon timeline widget further customization
 TODO Put specific mastodon widget style in a nicolabs/mastodon-widget.scss file
*/

/* any container after the 1st one (TODO with a CSS selector) */
.container-n {
  padding-bottom: 0;
}

.mastodon-timeline {
  padding-top: 0;
}

.mt-toot {
  @extend .post-item;
  padding-bottom: 1em;
}

.mt-user,
.mt-date {
  display: inline;

  a {
    @extend .link;
    font-weight: bold;
  }
}

.mt-user:after {
    content: " — ";
}

.toot-retoot {
  display: inline;
  margin-right: 1em;
}

.mt-header h4 {
  @extend h2;
}

.mt-footer {
  @extend .container;
  @extend .readmore;

  a {
    @extend .post-link;
  }
}
