// Typography
$base-font-family: 'Open Sans', $helvetica;
// $base-font-family: 'Merriweather', "Georgia", serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .52em;
$base-spacing: 2em;
$small-spacing: $base-spacing / 4;
$base-z-index: 0;

// Colors
$black-color: #000;
$blue-color: #0099ff;
$dark-gray-color: #333;
$deepblue-color: #3000ee;
$green-color: #3dbf84;
$light-gray-color: #ccc;
$medium-gray-color: #666;
$orange-color: #ff9900;
$pink-color: #cc00cc;
$purple-color: #6600ff;
$red-color: #ee2200;
$yellow-color: #e0b300;
$yellowgreen-color: #C2E71D;
$white-color: #fff;

$primary-color: $red-color;
$action-color: $primary-color;
$secondary-color: $green-color;

// Font Colors
$base-font-color: rgba($black-color, .8);

// Border
$base-border-color: $light-gray-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white-color;
$secondary-background-color: tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
