---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% assign history_url = site.repo.url | append:"/" | append: site.repo.commits_path | append:"/" | append: page.path %}
      <a href="{{ history_url }}" title="Read full history of this post">
        <time class="datePublished" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.last_modified_at %}
            <span class="post-meta-separator">•</span> <time class="dateModified" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">Updated on {{ page.last_modified_at  | date: "%b %-d, %Y" }}</time>
        {% endif %}
      </a>
      {% if page.author %}
        <span class="post-meta-separator">•</span> by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      <span class="post-meta-separator">•</span> <span itemprop="read_time">{% include read_time.html %}</span>
      {% if page.maturity %}
        <span class="post-meta-separator">•</span> <span itemprop="maturity">{% include maturity.html %}</span>
      {% endif %}
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <aside class="tags">
      <ul class="tags">
          {% for tag in page.tags %}
            <li class="tag"><a href="/tags#{{tag | slugify}}">#{{ tag }}</a></li>
          {% endfor %}
      </ul>
    </aside>

    <aside class="share">
      <strong>Share this :</strong>
      <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;hashtags=web,dev,blog,soudev&amp;via={{ site.author.twitter }}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook</a>
    </aside>

  </div>
</article>

{% if false %}
{% if site.related_posts.size >= 1 %}
<div>
  <h3>Related Posts</h3>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}

{% include comments.html %}
