---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.modified %}<span class="post-meta-separator">•</span> <time datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">Updated {{ page.modified  | date: "%b %-d, %Y" }}</time>{% endif %}
      {% if page.author %}<span class="post-meta-separator">•</span> by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      <span class="post-meta-separator">•</span> <span itemprop="read_time">{% include read_time.html %}</span>
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include post-share.html %}
  </div>
</article>

{% if false %}
{% if site.related_posts.size >= 1 %}
<div>
  <h3>Related Posts</h3>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}

{% include comments.html %}
