/* Links below chapter titles in the front page */
.chapter-links {
    font-size: 1rem;
    font-style: italic;
    /* The following brings a bit of space */
    margin-top: .5em;
    margin-left: .5em;
}

/* Figure are printed as a paragraph by default, like images */
figure {
    @extend img
}

/*
Unfortunately, <colgroup><col/> cannot be used to apply a given style to a whole column in major browsers.
This class is the remedy.
*/
col.col-header {
    width: 35pt;
}
th.empty, td.empty {
    border: none;
}
th, td {
    word-break: break-all;
    padding: $small-spacing;
}
th {
    border: 1px solid shade($base-border-color, 25%);
    text-align: center;
}
td {
    border: $base-border;
}
th.vertical {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    span {
        writing-mode: vertical-rl;
        white-space: nowrap;
        transform: rotate(180deg);
    }
}
