h3 {
    margin-bottom: 1em;
}

h4 {
    margin-top: 1.5em;
}

/* footnotes */
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -.5em;

    .footnote {
        border-bottom: none;

        &:hover,
        &:focus,
        &:active {
            border-bottom: 2px solid $light-gray-color;
            border-color: darken($light-gray-color, 10%);
        }
    }
}


/* Links below chapter titles in the front page */
.chapter-links {
    font-size: 1rem;
    font-style: italic;
    /* The following brings a bit of space */
    margin-top: .5em;
    margin-left: .5em;
}

/* All sorts of figures that are printed as a paragraph by default, like images */
figure,
object.plantuml {
    @extend img
}

/* White background is assumed to bring the best readability for transparent images displayed in fullscreen */
/* Note : the :fullscreen pseudo-class did not work in my tests */
.fullscreen {
    background-color: white;
}
/* Recommended by https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API/Guide ; although I cannot test... */
*:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

/*
    TABLES SUGAR
*/

/* Subtitles to table header */
th .small {
    display: block;
    margin-top: 1em;
    font-size: 0.7em;
    font-style: italic;
    line-height: 1;
}

/* Lines with less important content */
tr.small td {
    font-size: 0.8em;
    font-style: italic;
}

th.col-selected, td.col-selected {
    background-color: adjust-color($secondary-color, $alpha: -0.8);
}

.cell-selected {
    background-color: #FFFF0080;
}

.cell-selected2 {
    background-color: adjust-color($secondary-color, $alpha: -0.8);
    &.cell-selected {
        /*background-color: #7FFF0080;*/
        background-color: mix( adjust-color($secondary-color, $alpha: -0.8), #FFFF0080 );
    }
}

/*
Unfortunately, <colgroup><col/> cannot be used to apply a given style to a whole column in major browsers.
This class is the remedy.
*/
col.col-header {
    width: 35pt;
}
th.empty, td.empty {
    border: none;
}
th, td {
    padding: $small-spacing;
}
th {
    border: 1px solid shade($base-border-color, 25%);
    text-align: center;
}
td {
    border: $base-border;
}
th.vertical {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    span {
        writing-mode: vertical-rl;
        white-space: nowrap;
        transform: rotate(180deg);
    }
}

/*
  ~Good way to style a caption from markdown : https://stackoverflow.com/a/30366422.
  In markdown, write *caption* in the line right below the image.
  We allow both *text* and <figcaption>text</figcaption>..
*/
img + em, figcaption {
  font-size: small;
}
/* We must also make sure the caption visually sticks to it */
img {
  margin-bottom: 0;
}

/*
  Enhances the display of excerpts.
*/
.excerpt .excerpt-text {
  /* hide stuff from the preview (helps automatic generation) */
  img, h1, h2, h3, h4, h5, h6 {
    display: none;
  }
  a, a:visited, a:hover, a:active, a:focus {
    color: $base-font-color !important;
    text-decoration: none !important;
    outline: none !important;
    border: none;
  }

  /* Only keep a small height for the first image in the preview (see https://themes.artbees.net/blog/crop-images-in-css/) */
  img:first-of-type {
    display: block;
    object-fit: cover;
    height: 15em;
    width: 100%;
    margin: 0;
  }

  /* Smaller image legend */
  figcaption {
    font-size: smaller;
    /* Fixes the way the excerpt is generated in some cases */
    margin-bottom: 0.5em;
    color: $figcapton-color;
  }
}
