/* Links below chapter titles in the front page */
.chapter-links {
    font-size: 0.6em;
    font-style: italic;
    /* The following brings a bit of space */
    margin-top: .5em;
    margin-left: .5em;
}

/* Figure are printed as a paragraph by default, like images */
figure {
    @extend img
}
